body{
    display: flex;
}

#cont-izq{
    width: 50%;
}

#cont-der{
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align:center;
}

.tit-col{
    font-family: 'Fredoka One', cursive;
    font-size: 500%;
}

.desc-col{
    font-size: 200%;
}

.img-col{
    height: 475px;
}

