body{
    background-color: beige;
}

#cont-arrib{
    width: 100%;
    text-align:center;
}

.tit-prin{
    font-size: 700%;
    font-family: 'Fredoka One', cursive;
    display: inline-block;
}

#cont-arrib2{
    margin-left: auto;
    margin-right: auto;
}

#cont-abaj{
    text-align:center;
}

.cont-btn{
    margin-top: 8%;
    display: inline-block;
}

.img-btn{
    height: 75px;
}