<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/colores.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Azul</title>
</head>
<style>
    body{
        background-color: rgb(193, 216, 245)
    }
</style>
<body>
    <div id="cont-izq">
        <img src="/static/img/azul.png" alt="" srcset="" class="img-col">
    </div>
    <div id="cont-der">
        <div class="tit-col">Azul</div>
        <div class="desc-col">Es el significado del color que más conecta con la espiritualidad, por lo que se recomienda meditar pensando en él, al trasmitir paz y serenidad.</div>
    </div>
</body>
</html>