<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/colores.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Gris</title>
</head>
<style>
    body{
        background-color: rgb(172, 185, 201)
    }
</style>
<body>
    <div id="cont-izq">
        <img src="/static/img/gris.png" alt="" srcset="" class="img-col">
    </div>
    <div id="cont-der">
        <div class="tit-col">GRIS</div>
        <div class="desc-col">El gris es un color muy particular, al que tradicionalmente se le ha dado un simbolismo muy neutro a pesar de tener cierta tendencia a recibir mala consideración.</div>
    </div>
</body>
</html>