<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Colores</title>
</head>
<body>
    <div id="cont-arrib">
        <div id="cont-arrib2">
            <div class="tit-prin">Colores</div>
            <img src="/static/img/colores.png" alt="" srcset="" height="200px">
        </div>
    </div>
    <div id="cont-abaj">
        <div class="cont-btn">
            <a class="link-btn" href="gris">
                <img src="/static/img/gris1.png" alt="" srcset="" class="img-btn">
            </a>
        </div>
        <div class="cont-btn">
            <a class="link-btn" href="negro">
                <img src="/static/img/negro1.png" alt="" srcset="" class="img-btn">
            </a>
        </div>
        <div class="cont-btn">
            <a class="link-btn" href="azul">
                <img src="/static/img/azul1.png" alt="" srcset="" class="img-btn">
            </a>
        </div>
        <div class="cont-btn">
            <a class="link-btn" href="morado">
                <img src="/static/img/morado1.png" alt="" srcset="" class="img-btn">
            </a>
        </div>
        <div class="cont-btn">
            <a class="link-btn" href="verde">
                <img src="/static/img/verde1.png" alt="" srcset="" class="img-btn">
            </a>
        </div>
    </div>
</body>
</html>