<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/colores.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Negro</title>
</head>
<style>
    body{
        background-color: rgb(54, 54, 54)
    }

    #cont-der{
        color: white;
    }
</style>
<body background-color="rgb(172, 185, 201)">
    <div id="cont-izq">
        <img src="/static/img/negro.png" alt="" srcset="" class="img-col">
    </div>
    <div id="cont-der">
        <div class="tit-col">NEGRO</div>
        <div class="desc-col">El color negro se asocia a la muerte y al sufrimiento, al luto, a la oscuridad de las tinieblas, al terror de lo desconocido, a la magia y al misterio, pero también a la solemnidad y a la confianza.</div>
    </div>
</body>
</html>