<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/colores.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Verde</title>
</head>
<style>
    body{
        background-color: rgb(138, 185, 161)
    }
</style>
<body>
    <div id="cont-izq">
        <img src="/static/img/verde.png" alt="" srcset="" class="img-col">
    </div>
    <div id="cont-der">
        <div class="tit-col">Verde</div>
        <div class="desc-col">La naturaleza, a la cual simboliza por lo general el verde, es vista como hermosa y llena de vida. Pero también tiene su lado oscuro: está también llena de muerte, sangre, persecución y crueldad.</div>
    </div>
</body>
</html>